<div class="container">
  <h1>Boletagem Steps</h1>

  <ng-container [ngSwitch]="currentStep">
    <app-step1 *ngSwitchCase="1" [(category)]="category" (next)="nextStep()"></app-step1>
    <app-step2 *ngSwitchCase="2" [(structure)]="structure" (next)="nextStep()" (previous)="previousStep()"></app-step2>
    <app-step3 *ngSwitchCase="3" (next)="nextStep()" (previous)="previousStep()"></app-step3>
    <app-instrument-step *ngSwitchCase="4" (next)="nextStep()" (previous)="previousStep()"></app-instrument-step>
    <app-penultimate-step *ngSwitchCase="5" (next)="nextStep()" (previous)="previousStep()"></app-penultimate-step>
    <app-final-step *ngSwitchCase="6" (previous)="previousStep()"></app-final-step>
  </ng-container>
</div>